{% extends "layout.html" %} {% block content %}
<h1 class="text-h2-lightblue">QUIZZES</h1>
<div class="content" id="experiment-article-section-1-content">
    <!-- quiz content -->
    <!--edit -->
<h1 class="text-h2-lightblue">Message Authentication Codes</h1><div class="content" id="experiment-article-section-6-content">
  <form id="Q-1">
Q1. {{ Question1.Question|safe }}
<br/>	<input type="radio" name="Q1" value="1"> {{ Question1.Option1 }}
<br/>	<input type="radio" name="Q1" value="2"> {{ Question1.Option2 }}
<br/>	<input type="radio" name="Q1" value="3"> {{ Question1.Option3 }}
</form>
</div>
<div>
<form id="Q-2">
Q2. {{ Question2.Question|safe }}
<br/>	<input type="radio" name="Q2" value="1"> {{ Question2.Option1 }}
<br/>	<input type="radio" name="Q2" value="2"> {{ Question2.Option2 }}
<br/>	<input type="radio" name="Q2" value="3"> {{ Question2.Option3 }}
</form>
</div>
<div>
<button   id="Submit" >Submit</button>

</div>						</div>
        </div>
    </div><!-- =================================================================================================================================== -->

</div>
{% endblock %}
